		body {
		background-color : blue;
		}
		.vi:hover  {
			color: #d6ebff;
			transition: color 0.25s;
			text-decoration: none;
			font-weight: 1000; 
			font-size: 1.2em; 
			padding: 5px; 
		}
		.va { 
			color: pink;
		}
		
		.ve { 
			color: yellow;
		}
		p, h1{
			font-family: Calibri;
		}
		body { 
				margin-left : 5%;
				margin-right : 5%;
				background-image: url('../images/cos.jpg');
				background-attachment: fixed;
		}
		.image { 
			border-radius: 5px; 
			transition: border-radius 0.25s; width 0.5s; 
			animation: kfly 5s linear infinite;  
			}
		@keyframes kfly {
				from {
						width: 1200 px; 
			}
			     to {
			width: 1300 px; 
			}
		}	
		.image:hover {
			border-radius: 20px; 
		}
		.image:active {
			border-radius: 50px; 
			width: 1200px;
		}